.collection-item {
  // Note !! small change we do for "collection item"
  //width: 22%; // => 22% of the containing divs width
  width: 22vw; // vw=view width - we want this component to be 22% of the width of the actual window
  //   -> so for us if we were to decrease or increase the window size, it would end up adapting as well
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  // add Cart styling (2)
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  // add Cart styling (1)
  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    // add Cart styling (3)
    display: none;
  }

  // add Cart styling (3.1)
  &:hover {
    .image {
      opacity: 0.8;
    }
    // add Cart styling (3.2)
    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
